@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    font-family: Raleway;
    scroll-behavior: smooth;
}
main{
    width:100vw;
    height:100vh;
    display:grid;
    place-items:center;
    position:relative;
    overflow:hidden;
}

#hum{
    width:80vw;
    height:40vh;
    padding:2rem;
    font-size:4rem;
    border:1px solid hotpink;
    overflow:scroll;
    display:grid;
    align-items: center;
}

canvas{
    display:none;   
}

h1 {
    color: #ff3e00;
    text-transform: uppercase;
    font-size: 8rem;
    font-weight: 100;
    margin-top:0;
}



#connection{
    position:absolute;
    bottom:2rem;
    left:2rem;
}

#defaultCanvas0{
    position:absolute;
}

#chart{
    position:absolute;
    top:0;
    left:0;
}